page-login {


    .logo{
        margin: 0 auto;
        display: block;
        padding-top: 30%;
        width: 60%;
    }

    

    .input{
      color: #f4f4f4;
      
    }

    .long-button{
        width: 90%;
        position: absolute;
        bottom: 10px;
        color: #f4f4f4;
        margin:0;
        height: 40px;
        font-size: 20px;
        background: none;
        //border: none;
        text-align: center;
        font-weight: bold;
    }

    .long-button1 {
        font-size: 1.8em;
        margin: 0 auto;
        display: block;
        background-color: #FCB622;
        width: 70%;
        height: 35px;
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 15px;
        border-color: black;
        border-width: 3px;
        margin-bottom: 10px; 
        text-align: center;
        box-shadow: 0 0 0 2pt black;
    }

    #top-input {
        margin-top: 90px;
    }


    .astext {
    color: #f4f4f4;
    margin:0;
    height: 40px;
    width: 100%;
    font-size: 15px;
    background: none;
    //border: none;
    text-align: center;
}



    .buttonz-container{
        width: 100%;
        margin-top: 10px;
        margin-left: 70px;
        
    }


    .twitter{
        margin-top: 35px;
        box-shadow: 0 0 0 1pt #f4f4f4;
    }

    .facebook{
        margin-top: 30px;
    }

    .error {
        color: white;
        font-size: 12pt;
        text-align: center;
    }

  

    .card-extention{
        margin-top: 0px;
        margin-bottom: 80px;
        color: #f4f4f4;
        text-align: center;
        position: absolute;
        bottom: 21%;
        left: 30%;
        
    }

    .grid{
        padding: 0px;
        margin: 0px;
    }

    .login-card{
        background-color: transparent;
    }

    ::placeholder {
        color: black;
    }

    .login-input{

        font-size: 1.8em;
        margin: 0 auto;
        display: block;
        background-color: white;
        width: 70%;
        height: 40px;
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 15px;
        border-color: black;
        border-width: 3px;
        margin-bottom: 10px; 
        text-align: center;
    }

    .login-background {
        // background: #eb01a5;
        //background-image: url("../../assets/imgs/logo.png"); /* fallback */
        background-image: linear-gradient(transparent, #27B3C0, #27B3C0), url("../../assets/imgs/Mebo-Sign-In-Background-Cropped.jpg"); 
        background-size: 100%;
        background-repeat: no-repeat;
      }
      
}
