page-register {
    .logo{
        margin: 0 auto;
        display: block;
        padding-top: 30%;
        width: 60%;
    }

    #top-input {
        margin-top: 60px;
    }

    ::placeholder {
        color: black;
    }

    .long-button {
        font-size: 1.8em;
        margin: 0 auto;
        display: block;
        background-color: #FCB622;
        width: 70%;
        height: 35px;
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 15px;
        border-color: black;
        border-width: 3px;
        text-align: center;
        box-shadow: 0 0 0 2pt black;
    }


    .astext {
        
            width: 90%;
            position: absolute;
            bottom: 10px;
            color: #f4f4f4;
            margin:0;
            height: 40px;
            font-size: 20px;
            background: none;
            //border: none;
            text-align: center;
            font-weight: bold;
}





    .error {
        font-size: 12pt;
        color: white;
    }

    .card-extention{
        margin-top: 0px;
        margin-bottom: 80px;
        color: #f4f4f4;
        text-align: center;
        
    }


    .login-input{

        font-size: 1.8em;
        margin: 0 auto;
        display: block;
        background-color: white;
        width: 70%;
        height: 40px;
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 15px;
        border-color: black;
        border-width: 3px;
        margin-bottom: 10px; 
        text-align: center;
    }

    .notification-is-danger {
        color: #E22547;
        margin: 0 auto;
        display: block;
        padding-top: 0;
        text-align: center;
        margin-top: -10px;
        font-size: 1.4em;
        font-weight: bold;
    }

    .notification-is-success{
        color: #FBB525;
        margin: 0 auto;
        display: block;
        text-align: center;
        margin-top: -10px;
        font-size: 1.4em;
        font-weight: bold;
    }

    .notification-is-info {
        color: black;
        margin: 0 auto;
        display: block;
        text-align: center;
        margin-bottom: 15px;
        font-size: 1.4em;
        font-weight: bold;
    }


    input[type=date]::-webkit-calendar-picker-indicator {
        -webkit-appearance: none;
        display: none;
    }


    .passwordIcon{
        color: #f4f4f4;
        font-size:2.8rem !important;
        position: relative !important;
        top: 22px !important;
        margin: 0 auto !important;
     }

     .login-background {
        // background: #eb01a5;
        //background-image: url("../../assets/imgs/logo.png"); /* fallback */
        background-image: linear-gradient(transparent, #27B3C0, #27B3C0), url("../../assets/imgs/Mebo-Sign-In-Background-Cropped.jpg"); 
        background-size: 100%;
        background-repeat: no-repeat;
      }
}
