
<ion-content padding class="login-background">

<img class="logo" src="assets/imgs/Logo-w-Shadow.png">

  <form [formGroup]="myForm">

      
                      
            <input id="top-input" [(ngModel)]='account.username' class="login-input" type="text"  formControlName="username" placeholder="USERNAME">
                     
               
                <div *ngIf="username.invalid && username.dirty" class="notification-is-danger">
                    {{ username.value }} IS NOT AVAILABLE
                  </div>
                  
                  <div *ngIf="username.valid" class="notification-is-success">
                    {{ username.value }} IS AVAILABLE
                  </div>
                  
                  <div *ngIf="username.pending" class="notification-is-info">
                    CHECKING {{ username.value }}
                  </div>




            <input [(ngModel)]='account.email' class="login-input" type="email"  formControlName="email" placeholder="EMAIL"
                      required pattern="^[a-zA-Z0-9]+@(wichita\.edu|shockers\.wichita\.edu)">

                      <div padding *ngIf="email.invalid && email.dirty" class="notification-is-danger">
                        <span>MUST BE A WSU EMAIL</span>
                      </div>

            <input [(ngModel)]='account.dateOfBirth' class="login-input" required formControlName="dob" placeholder="DATE OF BIRTH" [type]="DOBType" (click)="hideShowPassword()">
                        
            <input class="login-input" id="myInput" [(ngModel)]='account.password' formControlName="password" type="password" clearOnEdit="false" 
                         required placeholder="PASSWORD">

            <input class="login-input"[(ngModel)]='passwordConfirm' type="password"  formControlName="password" required placeholder="PASSWORD AGAIN">

              <!-- pattern="(?=.*[A-Z])[a-zA-Z0-9!@#$%^&*]{6,}$" -->
      <button class="long-button" [disabled]="myForm.invalid || account.password != passwordConfirm"  (click)="register()">Create Account</button>

      <div padding class="notification-is-danger" *ngIf="account.password != passwordConfirm">
        <span>Passwords must match</span>
      </div>

      <button class="astext" (click)='navigateToLogin()'>LOG IN</button>
  </form>

</ion-content>
