page-add-beacon {
    .arrow-button {
        position: absolute; 
        top: 35px; 
        left: 15px; 
        z-index: 99;
        width: 10%;
        transform: rotate(180deg);
    }

    .event-input{
        font-size: 1.8em;
        margin: 0 auto;
        display: block;
        background-color: white;
        width: 70%;
        height: 40px;
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 15px;
        border-color: black; 
        border-width: 3px;
        margin-bottom: 10px; 
        text-align: center;
    }

    ::placeholder {
        color: black;
    }

    .long-button {
        font-size: 1.8em;
        margin: 0 auto;
        display: block;
        background-color: #FCB622;
        width: 70%;
        height: 35px;
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 15px;
        border-color: black;
        border-width: 3px;
        margin-bottom: 10px; 
        text-align: center;
        box-shadow: 0 0 0 2pt black;
        color: black; 
    }

    select { 
        text-align-last: center;
        padding-left: 20px;
    }

    #image-1 {
		margin: 0 auto;
		margin-top: 8%;
		width: 50%;
		display: block;
        margin-bottom: 8%;
    }
    
    .range-ios {
        padding: 0px; 
        border: solid #000;
        border-width: 3px 3px;
        border-radius: 15px;
        height: 40px;
    }

    .range-md {
        padding: 0px; 
        border: solid #000;
        border-width: 3px 3px;
        border-radius: 15px;
        height: 40px;
    }

    .container {
		color: white;
		text-align: center;
		
	  }

    li {
		display: inline-block;
		font-size: 0.9em;
		list-style-type: none;
		padding: 10px;
		text-transform: uppercase;
		margin: 0 auto;
	  }
	  
	  li span {
		display: block;
		font-size: 3.9rem;
		color: black;
		margin: 0 auto;
		text-align: center;
		background: #27B4C0;
        width: 80px;
		height: 80px;
		padding-top: 14px;
		border-radius: 60px;
		margin-bottom: 10px;
		font-weight: bold;
		box-shadow: 0 0 0 1pt rgb(0, 0, 0);
	  }

	  .time-text {
		  font-size: 1em;
		  display: float;
		  margin-top: -30px;
		  color: black;
		  font-weight: lighter;
      }
      
      .countdown-text {
        font-size: 0.9em;
        display: float;
        margin-bottom: -22px;
        color: black;
        font-weight: lighter;
    }

    .post-pic-btn {
        font-size: 1.8em;
        margin: 0 auto;
        display: block;
        background-color: #F2682A;
        width: 70%;
        height: 35px;
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 15px;
        border-color: black;
        border-width: 3px;
        margin-bottom: 10px; 
        text-align: center;
        box-shadow: 0 0 0 2pt black;
        color: black; 
    }

    .hidden {
        display: none;
    }

    .beacon-photo {
        box-shadow: 4px 4px 2px 1px rgba(0,0,0,0.2);
        border-radius: 15px;
		margin: 0 auto;
		margin-top: 8%;
		width: 70%;
		display: block;
        margin-bottom: 8%;
    }

    .aura-needed-text {
        width: 80%;
		display: block;
		margin: 0 auto;
        margin-top: 10%;
        margin-bottom: 10%;
		text-align: center;
		font-size: 1.5em;
		font-style: italic;
    }

}
