<!--
  Generated template for the AddBeaconPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<img src="assets/imgs/Back-Arrow.png" button (click)="goBack()" class="arrow-button">



<ion-content style="background: #42A880">
    <img id="image-1" src="assets/imgs/{{beacon.type}}.png" alt="" />
  <form [formGroup]="myForm">
      <select class="event-input" id="durationSelect" form="myForm" type="number" [(ngModel)]='beacon.type' formControlName="type">
        <option value="MEBOcircle" disabled>TYPE</option>
        <option value="RandomShout">Random Shout</option>
        <option value="JobOpps">Job Opps</option>
        <option value="ForSale">For Sale</option>
        <option value="Wanted">Wanted</option>
      </select>
    <!-- <input class="event-input" id="myInput" [(ngModel)]='beacon.name' formControlName="title" type="text" clearOnEdit="false" 
                       required placeholder="GIVE IT A TITLE"> -->

    

   <!-- <select class="event-input" id="durationSelect" form="myForm" type="number" [(ngModel)]='foodtruck.image' formControlName="type" required>
      <option value="foodtruck" disabled>EVENT TYPE</option>
    <option value="Food">Free Food</option>
    <option value="Gaming">Gaming</option>
    <option value="StudyGroup">Study Group</option>
    <option value="Greek">Greek</option>
    <option value="Basketball">Basketball</option>
    <option value="Volleyball">Volleyball</option>
    <option value="FoodTruck">Foodtruck</option>
    <option value="BoardGame">Board Game</option>
    <option value="PinkFlag">Pink Flag</option>
    <option value="OrangeFlag">Orange Flag</option>
    <option value="GreenFlag">Green Flag</option>
    <option value="YellowFlag">Yellow Flag</option>
    <option value="BlueFlag">Blue Flag</option>
    
  </select> -->


    <textarea style="height: 7em;" class="event-input" id="myInput" [(ngModel)]='beacon.details' formControlName="details" type="text" clearOnEdit="false" 
                      placeholder="DETAILS" maxlength="5000"></textarea>

                             
              
  </form>



  
  <div class="event-input">
    <ion-range min="1" max="7" step="1" snaps="true" [(ngModel)]="beaconDuration">
      <ion-label range-left>1</ion-label>
      <ion-label range-right>7</ion-label>
    </ion-range>
  </div>

  <div class="container">
    <ul style="padding: 0;">
      <li><p class="countdown-text">DURATION</p><span id="days">{{beaconDuration}}</span><p class="time-text">DAYS</p></li>
    </ul>
</div>


<!-- <img [src]="beacon.userPhoto" alt="" class="beacon-photo" id="file" [ngClass]="{hidden: beacon.userPhoto == ''}"> -->
    
<p *ngIf="userAura < 50" class="aura-needed-text">Increase your Aura to add images</p>

<button class="post-pic-btn" ion-button round color="red" (click)="setFile()" [ngClass]="{hidden: userAura < 50}" >ADD IMAGE</button> 

<img *ngIf="image" [src]="image" class="beacon-photo">



<button ion-button [disabled]="myForm.invalid || beacon.type == 'MEBOcircle'"
        round class="long-button" color="primary" (click)="saveBeacon(this.beacon)">BLAST OFF</button>


</ion-content>
