page-mission-control {

    .menu-button {
        position: absolute; 
        top: 15px; 
        left: 15px; 
        z-index: 99;
        width: 10%;
    }

    .item {
        background-color: #F2682A;
    }

    .item2 {
        background-color: #42A880;
        border-color: black;
        border-style: solid;
    }

    .hidden {
        display: none;
    }

    .btn-group2 button {
        border: 3px solid black; /* Green border */
        color: black; /* White text */
        border-radius: 15px;
        height: 100%;
        padding: 0px;
        width: 95%; /* Set a width if needed */
        display: block; /* Make the buttons appear below each other */
        margin: 0 auto;
        margin-bottom: 3px;
    }

    .sort-button {
        background-color: #FCB622;
        width: 20%;
        height: 25px;
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 15px;
        border-color: black;
        border-width: 3px;
        margin-bottom: 10px; 
        text-align: center;
        box-shadow: 0 0 0 2pt black;
        color: black; 
    }

    .sort-container {
        widows: 70%;
        display: block;
        margin: 0 auto;
    }
    
    .page-title {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

    .btn-image {
        width: 60%;
        transform: translateY(40%);
    }

    .btn-title {
        text-align: left;
        font-weight: bold;
        font-size: 1.4em;
        margin: 0;
        margin-top: 10px;
    }
    
    .btn-aura {
        text-align: left;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .btn-countdown {
        text-align: left;
        margin-top: 5px;
        margin-bottom: 5px
    }

    .column-1 {
        float: left;
        width: 20.00%;
    }

    .column-2 {
        float: left;
        width: 80.00%;
    }
    
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    label {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 10px; 
        margin-left: 13%;
        font-size: 1.5em;
        text-align: center;
        width: 30%;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        box-shadow: 0 0 0 2pt black;
        transition: all 0.3s;
        border-radius: 15px;
        border-color: black;
        border-width: 3px;
        background-color: #FCB622;

      }

      input[type="radio"] {
        display: none;
      }

      input[type="radio"]:checked + label {
        background-color: #E42547;
      }

}
