page-add-foodtruck {

    #map_canvas1{
        margin-top: 0.5px;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: -1;
    }

    //pointer-events: none;

    #pin{
        //background-image:  url('../../assets/imgs/MapPin.png');
        position: absolute;
        left: 40%;
        top: 40%;
        width: 25%;
        height: 25%;
        margin-left: -8px; //centered left to right
        margin-top: -28px; //bottom of image is centered
    }

    .menu-button {
        position: absolute; 
        top: 40px; 
        left: 15px; 
        z-index: 99;
        width: 12%;
        backface-visibility: hidden;
    }

   
    // textarea {
    //     height: 6em;
    // }

    // .gmnoprint {
    //     visibility: hidden;
    // }

    .post-button{
        
        width: 35%;
        position: absolute;
        bottom: 15px;
        left: 10%;
        color: black;
        display: inline-block;
        margin: 0 auto;
        font-size: 1.8em;
        display: block;
        background-color: #FCB622;
        height: 35px;
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 10px;
        border-color: black;
        border-width: 3px;
        margin-bottom: 10px; 
        text-align: center;
        box-shadow: 0 0 0 2pt black;

    }

    .post-later-button{
        
        width: 35%;
        position: absolute;
        bottom: 15px;
        right: 10%;
        color: black;
        display: inline-block;
        margin: 0 auto;
        font-size: 1.8em;
        margin: 0 auto;
        display: block;
        background-color: #FCB622;
        height: 35px;
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 10px;
        border-color: black;
        border-width: 3px;
        margin-bottom: 10px; 
        text-align: center;
        box-shadow: 0 0 0 2pt black;
    }


}
