page-beacon-details {
    #image-1 {
		margin: 0 auto;
		margin-top: 8%;
		width: 50%;
		display: block;

	}

    .arrow-button {
        position: absolute; 
        top: 35px; 
        left: 15px; 
        z-index: 99;
        width: 10%;
        transform: rotate(180deg);
    }

    .event-title{
		color: black;
		text-align: center;
		font-size: 30px;
		margin-top: 30px;
		font-weight: bold;
	}

	.event-owner {
		width: 70%;
		display: block;
		margin: 0 auto;
		text-align: center;
		margin-top: -8px;
		font-size: 1.5em;
		margin-bottom: -10px;
		
	}

	.event-details {
		width: 80%;
		display: block;
		margin: 0 auto;
		margin-top: 10%;
		text-align: center;
		font-size: 1.5em;
		font-style: italic;
	}

	.upvote-counter {
		margin-top: 10%;
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 25%;
		margin-bottom: 3%;
	  }
}
