<div *ngFor="let q of questions" class="comment-card">
  <div class="username">{{q.username}} -- <span class="time-since">{{timeSince(q.time)}} ago</span></div> 
  <p class="text">{{q.text}}</p>
    <button (click)="showCommentInput(q)" class="reply-button">REPLY</button>
    <button (click)="showEditInput(q)" class="comment-edit-button" [ngClass]="{hidden: q.userId != account.uid}">EDIT</button>
  <div [ngClass]="{hidden: q.hideReplyTextbox == true}" class="comment-input-section">
      <textarea class="event-input" id="myInput" type="text" clearOnEdit="false" 
      maxlength="5000" [(ngModel)]="commentText" ></textarea>
      <button ion-button class="save-button" (click)="postComment(account.username, account.uid, commentText, q)">SAVE</button>
      <button ion-button class="cancel-button" (click)="closeCommentInput(q)">CANCEL</button>
    </div>
    <div [ngClass]="{hidden: q.hideInputTextbox == true}" class="comment-edit-section">
      <textarea class="event-input" id="myInput" type="text" clearOnEdit="false" 
      maxlength="5000" [(ngModel)]="editText" ></textarea>
      <button ion-button class="save-button" (click)="editComment(q)">SAVE</button>
      <button ion-button class="cancel-button" (click)="closeCommentInput(q)">CANCEL</button>
    </div>
    <event-comment-section [questions]="q.answers" [account]="account" [foodtruck]="this.foodtruck"></event-comment-section>
 </div>