page-upcoming-details {
    .arrow-button {
        position: absolute; 
        top: 35px; 
        left: 15px; 
        z-index: 99;
        width: 10%;
        transform: rotate(180deg);
    }

    #image-1 {
		margin: 0 auto;
		margin-top: 8%;
		width: 50%;
		display: block;

    }
    
    .event-title{
		color: black;
		text-align: center;
		font-size: 30px;
		margin-top: 10px;
		font-weight: bold;
	}
	
	.event-owner {
		width: 70%;
		display: block;
		margin: 0 auto;
		text-align: center;
		margin-top: -8px;
		font-size: 1.1em;
		margin-bottom: -10px;
		
	}

	.event-date {
		width: 70%;
		display: block;
		margin: 0 auto;
		text-align: center;
		font-size: 1.5em;
		margin-bottom: 30px;
		font-weight: bold;
	}

	.event-details {
		width: 80%;
		display: block;
		margin: 0 auto;
		text-align: center;
		font-size: 1.5em;
        font-style: italic;
        margin-top: -20px;
        margin-bottom: 10px;
	}

    .item {
        background-color: #E42547;
    }

    .item2 {
        background-color: #42A880;
    }

    // .event-input-3{
    //     font-size: 1.8em;
    //     margin: 0 auto;
    //     display: block;
    //     background-color: white;
    //     width: 70%;
    //     height: 40px;
    //     -moz-border-radius: 60px;
    //     -webkit-border-radius: 60px;
    //     border-radius: 15px;
    //     border-color: black; 
    //     border-width: 3px;
    //     margin-bottom: 10px; 
    //     text-align: center;
    // }

    .event-duration{
        font-size: 1.3em;
        margin: 0 auto;
        display: block;
        background-color: #FCB622;
        width: 70%;
        height: 40px;
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 15px;
        border-color: black; 
        border-width: 3px;
        padding-top: 5px; 
        text-align: center;
    }

    .container {
		color: white;
		text-align: center;
		
	  }
	  
	  li {
		display: inline-block;
		font-size: 0.9em;
		list-style-type: none;
		padding: 10px;
		text-transform: uppercase;
		margin: 0 auto;
	  }
	  
	  li span {
		display: block;
		font-size: 2.6rem;
		color: black;
		margin: 0 auto;
		text-align: center;
		background: #27B4C0;
        width: 80px;
		height: 80px;
		padding-top: 22px;
		border-radius: 60px;
		margin-bottom: 10px;
		font-weight: bold;
		box-shadow: 0 0 0 1pt rgb(0, 0, 0);
	  }

	  .time-text {
		  font-size: 1em;
		  display: float;
		  margin-top: -30px;
		  color: black;
		  font-weight: lighter;
      }
      
      .countdown-text {
        font-size: 0.8em;
        display: float;
        margin-bottom: -22px;
        color: black;
        font-weight: lighter;
    }

    .upvote-counter {
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 25%;
		margin-bottom: 3%;
	  }

	  .edit-button {
        position: absolute; 
        top: 35px; 
        right: 15px; 
        z-index: 99;
        width: 10%;
		backface-visibility: hidden;
	}

	  .event-input-2 {
        font-size: 1.2em;
        margin: 0 auto;
        display: block;
        background-color: white;
        height: 40px;
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 15px;
        border-color: black; 
        border-width: 3px;
        margin-bottom: 10px; 
        text-align: center;
        width: 80%;
	}
	
	.hidden {
		display: none;
	}

	.save-button{
        
        width: 35%;
        left: 10%;
        color: black;
        float: left;
        margin: 0 auto;
        font-size: 1.8em;
        margin: 0 auto;
        display: block;
        background-color: #FCB622;
        height: 35px;
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 10px;
        border-color: black;
        border-width: 3px;
        margin-bottom: 10px; 
        text-align: center;
        box-shadow: 0 0 0 2pt black;
    }

    .cancel-button{
        right: 10%;
        width: 35%;
        color: black;
        float: right;
        margin: 0 auto;
        font-size: 1.8em;
        margin: 0 auto;
        display: block;
        background-color: #E42547;
        height: 35px;
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 10px;
        border-color: black;
        border-width: 3px;
        margin-bottom: 10px; 
        text-align: center;
        box-shadow: 0 0 0 2pt black;
	}
	
	.comment-input-section-2 {
		width: 100%;
		float: left;
    }

    .comment-button{
        width: 45%;
        color: black;
        margin: 0 auto;
        font-size: 1.8em;
        margin: 0 auto;
        display: block;
        background-color: #FCB622;
        height: 35px;
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 10px;
        border-color: black;
        border-width: 3px;
        margin-bottom: 10px; 
        text-align: center;
        box-shadow: 0 0 0 2pt black;
	}


}
