<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content style="background-color:#E42547">


  <img src="assets/imgs/Back-Arrow.png" button (click)="goBack()" class="arrow-button">

    
  <img id="image-1" src="assets/imgs/{{foodtruck.image}}.gif" alt="" />

  <h1 class="event-title">{{foodtruck.name}}</h1>
  <p class="event-owner">@{{foodtruck.ownerName}}</p>

          <div class="container">
            <ul style="padding: 0;">
              <!--
              <li><span id="days"></span>days</li>
              -->
              <li><span id="hours"></span><p class="time-text">Hours</p></li>
              <li><span id="minutes"></span><p class="time-text">Minutes</p></li>
              <li><span id="seconds"></span><p class="time-text">Seconds</p></li>
            </ul>
          </div>

          <p class="event-details">{{foodtruck.details}}</p>

          

          <upvote-button class="upvote-counter" [itemId]="foodtruck.id" [userId]="authenticatedUser.uid" [ownerId]="foodtruck.ownerId"></upvote-button>
          

          <div *ngIf="account$ | async; let user">
              <div class="container" *ngIf="user.eventCheckInTimer > currentTime">
                  <ul style="padding: 0;">
                    <li><span id="cdseconds"></span><p class="time-text">Check-In</p></li>
                  </ul>
                </div>
            <!-- <button ion-button *ngIf="this.account" round long class="check-in-button" [disabled]="user.eventCheckInTimer > currentTime" (click)="checkIn()">Check In</button> -->
            <button (click)="checkIn()" class="get-loc-button" [disabled]="user.eventCheckInTimer > currentTime" *ngIf="isUserCloseEnough == undefined" >
              LOCATING
            </button>
    
            <button (click)="checkIn()" class="too-far-button" [disabled]="user.eventCheckInTimer > currentTime" *ngIf="isUserCloseEnough == false" >
              TOO FAR
            </button>
            
            <button (click)="checkIn()" class="check-in-button" [disabled]="user.eventCheckInTimer > currentTime" *ngIf="isUserCloseEnough" >
              CHECK IN
            </button>
          
            <button class="astext" (click)='canUserCheckIn()'>REFRESH  LOCATION</button>


        </div>
          

</ion-content>


       
